# --- Core Framework ---
# We use ~=4.2.0 to get the latest 4.2.x patches but not 4.3
Django~=4.2.0

# --- API & Auth ---
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# --- Database Connector ---
# This will pull the correct binary for Python 3.12
psycopg2-binary

# --- File/Data Handling Utilities ---
# Add/remove these based on what your project actually uses
openpyxl
XlsxWriter
CairoSVG
pdfkit
ruamel.yaml

# --- Other ---
tqdm
pyopenssl
pdflatex
PyLaTeX
XlsxWriter
Pygments
openpyxl
PyYAML
PyQt5
pdfkit
pandas
pynput
PyGithub
ruamel.yaml
tqdm
CairoSVG